absl-py==0.10.0
aiohttp==3.7.4
alabaster==0.7.12
antlr4-python3-runtime==4.9.3
anyio==3.6.1
ApiDoc==1.4.0
appdirs==1.4.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.11.1
biopython==1.78
black==20.8b1
bleach==5.0.1
boto3==1.15.11
botocore==1.18.11
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1625807838443/work
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
cma==3.0.3
colorama==0.4.6
conda==4.10.3
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262148928/work
contourpy==1.0.5
cryptography @ file:///tmp/build/80754af9/cryptography_1616769286105/work
cycler==0.11.0
cython==3.1.4
dataclasses==0.6
debugpy==1.6.3
decorator==4.4.2
defusedxml==0.7.1
dm-tree==0.1.5
docutils==0.16
editdistance==0.5.3
entrypoints==0.4
executing==1.1.1
fairseq==0.10.2
fastjsonschema==2.16.2
filelock==3.16.1
flake8==3.8.4
flake8-black==0.2.1
flake8-docstrings==1.5.0
-e git+https://github.com/zhiyu-zhao-ucas/musearch.git@e7f8755e228b4565ef182f9baadebe1924314bca#egg=flexs&subdirectory=src/flexs
fonttools==4.37.4
fsspec==2025.3.0
future==0.18.2
gast==0.3.3
gin-config==0.3.0
google-auth==1.22.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.32.0
gym==0.21.0
h5py==2.10.0
hydra-core==1.3.2
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
imagesize==1.2.0
importlib-metadata==4.13.0
importlib-resources==5.10.0
iniconfig==1.0.1
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isort==5.5.4
jedi==0.18.1
Jinja2==2.7.3
jmespath==0.10.0
joblib==0.17.0
json5==0.9.10
jsonschema==2.4.0
jupyter-client==7.4.2
jupyter-core==4.11.1
jupyter-server==1.21.0
jupyterlab==3.4.8
jupyterlab-language-pack-zh-CN==3.4.post5
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.2
jupyterlab-widgets==3.0.3
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
llvmlite==0.38.1
lmdb==1.0.0
lxml==6.0.2
m2r==0.2.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.7.5
matplotlib-inline==0.1.6
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.5.0
mpmath==1.3.0
msgpack-python==0.5.6
multidict==4.7.6
mypy-extensions==0.4.3
nbclassic==0.4.6
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
notebook==6.4.12
notebook-shim==0.1.0
numba==0.55.0
numpy==1.21.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.1.0
omegaconf==2.3.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.3.0
pandocfilters==1.5.0
parso==0.8.3
pathlib2==2.3.7.post1
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkgutil-resolve-name==1.3.10
pluggy==0.13.1
portalocker==3.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.19.0
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.9.0
pyarrow==17.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.7.4
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrosetta-installer==0.1.2
pyrsistent==0.18.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pytest==6.1.1
python-dateutil==2.9.0.post0
pytz==2020.1
PyYAML==6.0.3
pyzmq==24.0.1
regex==2020.9.27
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016699510/work
s3transfer==0.3.3
sacrebleu==2.5.1
scikit-learn==1.3.2
scipy==1.5.2
seaborn==0.13.2
Send2Trash==1.8.0
sentencepiece==0.2.0
six==1.15.0
sniffio==1.3.0
snowballstemmer==2.0.0
soupsieve==2.3.2.post1
Sphinx==2.4.4
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
-e git+https://github.com/zhiyu-zhao-ucas/musearch.git@e7f8755e228b4565ef182f9baadebe1924314bca#egg=stable_baselines3&subdirectory=src/flexs/flexs/baselines/explorers/stable_baselines3
stack-data==0.5.1
sympy==1.13.3
tabulate==0.9.0
tape-proteins==0.4
tensorboard==2.3.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorflow-probability==0.11.1
termcolor==1.1.0
terminado==0.16.0
tf-agents==0.6.0
threadpoolctl==2.1.0
tinycss2==1.1.1
toml==0.10.1
tomli==2.0.1
torch==1.11.0+cu113
tornado==6.2
tqdm==4.67.1
traitlets==5.4.0
triton==3.0.0
typed-ast==1.4.1
typing-extensions==4.13.2
tzdata==2025.2
urllib3==1.25.10
viennarna==2.7.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==1.0.1
widgetsnbextension==4.0.3
wrapt==1.12.1
yarl==1.6.0
zipp==3.3.0
